<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>

  <%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('<%= blogpostid.image %>')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> <%= blogpostid.title %> </h1>
            <h2 class="subheading"><%-blogpostid.body %></h2>
            <span class="meta">Posted by
              <a href="#"> <%= blogpostid.userid.username %> </a>
              <!-- Using the blogpost variable fomr index.js and the i variable from the for loop to access the username and date data for the post -->
              <a href="#"><%= blogpostid.username %></a>
              on <%= blogpostid.datePosted.toDateString() %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <%- blogpostid.body %>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>

</body>

</html>
